@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .w-116 {
    width: 29rem;
  }
}

html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  overflow: auto;
  background-color: skyblue;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.animated-strike {
  background: linear-gradient(to left, transparent 50%, black 50%);
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 200% 2px; /*Up-down, size*/
}
